{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "<BUCKET>",
    "Key": "dockercfg"
  },
  "Image": {
    "Name": "<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "<PORT>"
    }
  ],
  "Volumes": [],
  "Logging": "/var/log"
}
