/* 

Styles for the Darg emails

*/

img.timeline-profile-email {
  border: 1px solid @brand-primary;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 64px;
  height: 64px;
}

td {
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top;
}

table {
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  padding: 0;
  table-layout: auto;
}

table.container {
  width: 580px;
  margin: 0 auto;
  text-align: inherit;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #34495e !important;
  margin: 0px !important;
  padding-top: 0px !important;
}

div.timeline-email-event-data {
  margin-top: 4px;
  padding-left: 20px;
  position: relative;
}

p.timeline-email-event-text {
  font-size: 15px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #34495e !important;
}

/* The user header */

h6.timeline-email-name {
  text-align: center;
  color: #34495e !important;
  margin-bottom: 20px;
  font-weight: bold;
}

/* The actual timeline events */

div.timeline-email-icon {
  background-color: #FFF !important;
  color: #FFF;
  width: 32px;
  border-radius: 50px;
  height: 32px;
  border: 2px solid @border-color;
  top: 5px;
  z-index: 11;
}
