<head>
  <!-- build:css ../../css/email.css -->
  <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../public/css/flat-ui.css" rel="stylesheet">
  <link href="../css/ink.css" rel="stylesheet">
  <!-- /build -->
</head>
<body>
  {{timeline.date}}

  {% for user in timeline.user %}

  {% if user.task|not-empty %}
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <table class="container">
          <tr>
            <td>

              <table class="row">
                <tr>
                  <td class="wrapper">

                    <table class="twelve columns">
                      <tr>
                        <td>
                          <!--

                          <img class="img-portrait timeline-profile-email" gravatar-src="user.email" gravatar-size="64">
                          -->
                          <div class="timeline-profile-text">
                            {{user.name}}
                          </div>

                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

              <ul class="timeline-email timeline-email-icons timeline-email-sm">
                {% for task in user.task %}
                  <table class="row">
                    <tr>
                      <td> 
                            <div class="timeline-email-line"></div>


                            <li>
                              <div class="timeline-email-icon"></div>

                              <p>
                                {{task.task}}
                                <span class="timeline-email-date">{{task.date}}</span>
                              </p>
                            </li>
                      </td>
                    </tr>
                  </table>
                {% endfor %}
              </ul>

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  {% endif %}

  {% endfor %}
</body>
