<html>
<head>
</head>
 
<body>
  <p>Dear <span class="name">$NAME</span>,</p>

  <p>We've received a request to reset the password for this email address.</p>

  <p>To reset your password please click on this link or cut and paste this URL into your browser (link expires in 24 hours):</p>
  <p><span class="password-reset-link">$PASSWORD_RESET_LINK</span></p>

  <p>This link takes you to a secure page where you can change your password.</p>

  <p>If you don't want to reset your password, please ignore this message. Your password will not be reset.</p>
  <p>---------------------</p>
  <p>For general inquiries or to request support with your account, please email support@darg.io</p>

  <p>---------------------</p>
  <p>This message was sent by Darg.io. Visit www.darg.io to learn more.</p>
  <p>If you received this email by mistake or believe it is spam, please forward it to support@darg.io.</p>
</body>
</html>
