<div ng-include src='"../../templates/team/settings/top.html"'></div>

<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 col-xs-12">
      <h4>Integrations</h4>
      <form>
        <div class="form-group">
          <button class="btn btn-primary" ng-click="Team.goToGitHubSettingsPage(Team.currentTeam)">
            <span class="octicon octicon-octoface"></span>
            &nbsp;Add GitHub Integration
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

