<div ng-include src='"../../templates/team/settings/top.html"'></div>

<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 col-xs-12">

      <h4 class="pbm">Integrations</h4>
      <div class="panel panel-default">
      <div class="panel-body">
        <img class="service-logo" src="/images/github/mark.png">
        <form class="service-button">
          <button class="btn btn-primary"
            ng-show="Team.hasGitHubIntegration(Team.currentTeam)"
            ng-click="Team.goToGitHubSettingsPage(Team.currentTeam)">
            <span class="octicon octicon-gear"></span>
            &nbsp;Configure
          </button>
          <button class="btn btn-primary"
            ng-hide="Team.hasGitHubIntegration(Team.currentTeam)"
            ng-click="Team.addGitHubIntegration(Team.currentTeam)">
            <span class="octicon octicon-plus"></span>
            &nbsp;Add
          </button>
        </form>
        <div class="service-block">
          <h5 class="service-header">GitHub</h5>
          <p class="service-description">
            Source control and code management.
          </p>

        </div>
      </div>
      </div>
    </div>
  </div>
</div>

