<div class="container">
  <div class="row ptl pbl mtl mbl">
  </div>
  <div class="row">
    <div class="col-xs-3">

      <!-- Side navbar -->
      <ul class="nav nav-list">
        <li class="nav-header">Teams</li>
        <li ng-repeat="team in currentUser.team">
          <a class="team-timeline-link" ng-href="/team/{{team.id}}/timeline">
            {{team.name}}
          </a>
          <a class="team-settings-link" ng-href="/team/{{team.id}}">
            <i class="fa fa-cog"></i>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/team">
            Create a new team
          </a>
        </li>
      </ul>
    </div>

    <!-- Team settings -->
    <div class="col-xs-6">
      <h4>Members</h4>
      <!-- list team members -->
      <div class="team-role" ng-repeat="role in Team.roles">
        <form class="form-inline">
          <img class="img-portrait settings-profile" gravatar-src="role.email" gravatr-size="64">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="{{role.email}}" disabled>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-danger" ng-click="Team.deleteRole(role.team_id, role.user_id)" ng-show="Team.canDelete(role.user_id)">Remove</button>
          </div>
          <div class="form-group" ng-show="role.admin">
            This user is an admin
          </div>
        </form>
      </div>
      <div ng-show="Team.currentRole.admin">
        <h6>Add a new member</h6>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-10">
              <input type="email" class="form-control login-field" name="email" ng-model="Team.newRole.email" placeholder="Email address"/>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-primary" ng-click="Team.createRole(Team.team.id, Team.newRole)" ng-submit="Team.addAlert(Team.newRole.email)">
                Send invitation!
              </button>
            </div>
          </div>
        </form>
        <div class="alert alert-success" ng-repeat="alert in Team.invitationSuccessAlerts">{{alert.msg}}
          <button type="button" class="close fui-cross" data-dismiss="alert"></button>
        </div>
        <div class="alert alert-danger" ng-repeat="alert in Team.invitationFailureAlerts">{{alert.msg}}
          <button type="button" class="close fui-cross" data-dismiss="alert"></button>
        </div>
      </div>

      <div>

      </div>

      <!-- Add a new team member -->
    </div>

  </div>
</div>
