<div class="container">
  <div class="row ptl pbl mtl mbl">
  </div>
  <div class="row">
    <div class="col-xs-3">

      <!-- Side navbar -->
      <ul class="nav nav-list">
        <li class="nav-header">Teams</li>
        <li ng-repeat="team in currentUser.team">
          <a class="team-timeline-link" ng-href="/team/{{team.id}}/timeline">
            {{team.name}}
          </a>
          <a class="team-settings-link" ng-href="/team/{{team.id}}">
            <i class="fa fa-cog"></i>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/team">
            Create a new team
          </a>
        </li>
      </ul>


    <h4>Inline</h4>
    <div style="display:inline-block; min-height:290px;">
        <datepicker ng-model="dt" min-date="minDate" show-weeks="false" class=""></datepicker>
    </div>

      <!--
      <div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn" type="button">
                <span class="fui-calendar"></span>
              </button>
            </span>
            <input type="text" class="form-control hadDatepicker timepicker-with-dropdowns" value="14 March, 2013" id="datepicker-02"/>
          </div>
        </div>
      </div>
      -->

    </div>
    <div class="col-xs-9">
      
      <!-- timeline -->
      <div class="timeline-darg" ng-repeat="darg in Timeline.darg">
        <nav class="navbar navbar-default">
          <ul class="nav navbar-nav navbar-left">
            <li class="timeline-section">
              <span class="fui-calendar timeline-section-icon"></span>
              <span class="timeline-section-date">
                {{formatDateString(darg.date) | date: 'fullDate'}}
              </span>
            </li>
          </ul>
        </nav>

        <!-- begin user section -->
        <div class="row timeline-user" ng-repeat="user in darg.user" ng-show="showUser(user)">
  
          <!-- mini-profile on the left -->
          <div class="col-xs-4">
            <img class="img-portrait timeline-profile" gravatar-src="user.email" gravatar-size="64">
            <div class="timeline-profile-text">
              {{user.name}}
            </div>
          </div>

          <!-- user's timeline on the right -->
          <div class="col-xs-8 timeline-user-events">
            <ul class="timeline timeline-icons timeline-sm" ng-show="userHasTasks(user)">
              <li ng-repeat="task in user.task">
                <p>
                  {{task.task}}
                  <span class="timeline-icon octicon octicon-check"></span>
                  <span class="timeline-date">{{task.date}}</span>
                </p>
              </li>
            </ul>

            <!-- Enter new tasks -->
            <div ng-controller="DargTaskCreationCtrl" ng-show="isCurrentUser(user.id)">
              <form class="task-form" ng-submit="PostTask(darg)">
                <input type="text" placeholder="Left something out? Enter it here!" class="form-control" ng-model="TaskForm.task"/>
              </form>
            </div>
          </div>


        </ul>
      </div>
    </div>
  </div>
</div>
