<div class="container inner">
  <div class="row">
    <div class="col-md-2">
    </div>

    <!-- actual content here -->
    <div class="col-xs-12 col-md-8">

      <!-- team selector -->
      <div class="col-xs-12 col-md-7 pbl">
          <a href="#" class="team-selector dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            {{Timeline.currentTeam.name}}
            <span class="octicon octicon-triangle-down team-caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="team in currentUser.team">
              <a ng-href="/team/{{team.id}}/timeline">
                {{team.name}}
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/team">Create a new team</a>
            </li>
          </ul>
          <a class="team-settings-link" ng-href="/team/{{Timeline.teamId}}/settings">
            <i class="fa fa-cog settings"></i>
          </a>
      </div>
      <div class="col-xs-12 col-md-5 pbl calendar-container">
        <div class="form-group calendar"> 
          <div class="input-group" ng-click="open($event)">
            <input type="text" 
            class="form-control" 
            datepicker-popup="longDate" 
            ng-model="date" 
            is-open="opened" 
            max-mode="day" 
            datepicker-options="dateOptions" 
            show-button-bar=false
            ng-required="true" close-text="Close" />
            <span class="input-group-addon">
              <span class="fui-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-xs-12 col-md-8 ptm">
      
      <!-- timeline -->
      <div class="timeline-darg" ng-repeat="darg in Timeline.events">
        <nav class="navbar navbar-default">
          <ul class="nav navbar-nav navbar-left">
            <li class="timeline-section">
              <span class="fui-calendar timeline-section-icon"></span>
              <span class="timeline-section-date">
                {{formatDateString(darg.date) | date: 'fullDate'}}
              </span>
            </li>
          </ul>
        </nav>


        <!-- begin user section -->
        <div class="row timeline-user" ng-repeat="user in darg.user" ng-show="showUser(user)">
  
          <!-- mini-profile on the left -->
          <div class="col-xs-4">
            <img class="img-portrait timeline-profile" gravatar-src="user.email" gravatar-size="64">
            <div class="timeline-profile-text">
              {{user.name}}
            </div>
          </div>

          <!-- user's timeline on the right -->
          <div class="col-xs-8 timeline-user-events">
            <ul class="timeline timeline-icons timeline-sm" ng-show="userHasTasks(user)">
              <li ng-repeat="task in user.task">
                <p class=timeline-event>
                  {{task.task}}
                </p>
                <span class="timeline-icon {{Timeline.getIcon(task)}}"></span>
                  <p class="timeline-timestamp">
                    {{task.timestamp | date: 'shortTime'}}
                  </p>

              </li>
            </ul>

            <!-- Enter new tasks -->
            <div ng-controller="DargTaskCtrl as Task" ng-show="isCurrentUser(user.id)">
              <form class="task-form" ng-submit="Timeline.postTask(darg.date, Task.task)">
                <input type="text" placeholder="What else did you do?" class="form-control" ng-model="Task.task"/>
              </form>
            </div>
          </div>


        </ul>
      </div>
    </div>
  </div>
</div>
