<head>
  <!-- build:css ../../css/email.css -->
  <link href="../../../public/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../public/css/flat-ui.css" rel="stylesheet">
  <!-- /build -->
</head>
<body>
  {{timeline.date}}

  {% for user in timeline.user %}

  {% if user.task|not-empty %}
  <table class="container">
    <tr>
      <td>
        <!--
        <img class="img-portrait timeline-profile-email" gravatar-src="user.email" gravatar-size="64">
        -->
        <h6 class="timeline-email-name">
          {{user.name}}
        </h6>
      </td>
    </tr>
  </table>
  {% for task in user.task %}
  <table class="container">
    <tr>
      <td width="12">
      </td>
      {% ifequal user.task|last task %}
      <td width="32">
      {% else %}
      <td width="32" 
        background="https://s3-us-west-2.amazonaws.com/ursacorp-cloudfront-assets/email/bg.jpg">
      {% endifequal %}

        <table>
          <tr>
            <td 
              width="32"
              height="32"
              background="https://s3-us-west-2.amazonaws.com/ursacorp-cloudfront-assets/email/node.jpg">
            </td>
          </tr>
        </table>
      </td>
      <td> 
        <div class="timeline-email-event-data">
          <p class="timeline-email-event-text">
            {{task.task}}
            <span class="timeline-email-date">{{task.date}}</span>
          </p>
        </div>
      </td>
    </tr>
  </table>
  {% endfor %}

  {% endif %}

  {% endfor %}
</body>
