<p>Dear {{name}},</p>

<p>Welcome to Darg.io!</p>

<p>Darg is intended to help you and your team get rid of regular status meetings by keeping track of what everybody is up to.</p>

<p>At the moment, Darg only supports email, but it'll soon include GitHub commits, issues and pull request, as well as integrations into other services like Trello, Slack, or Basecamp.</p>

<p>Darg is pretty new, and there are still a few rough spots. If you find something that doesn't work as it should, or if you see an opportunity for improvement, please don't hesitate to shoot me an e-mail at <a href="mailto:david@darg.io">david@darg.io</a>.</p>

<p>Thanks, and welcome!</p>

<p>David Jarvis <br>
Founder, Darg.io</p>
