<head>
  <link rel="stylesheet" href="../../css/email.css">
</head>
<body>
  {% for user in timeline.user %}

  {% if user.task|not-empty %}
  <table class="container">
    <tr>
      <td>
        <!--
        <img class="img-portrait timeline-profile-email" gravatar-src="user.email" gravatar-size="64">
        -->
        <h6 class="timeline-email-name">
          {{user.name}}
        </h6>
      </td>
    </tr>
  </table>
  {% for task in user.task %}
  <table class="container">
    <tr>
      <td width="12">
      </td>
      {% ifequal user.task|last task %}
      <td width="32">
      {% else %}
      <td width="32" 
        background="https://s3-us-west-2.amazonaws.com/ursacorp-cloudfront-assets/email/images/timeline-bg-line.jpg">
      {% endifequal %}

        <table>
          <tr>
            <td 
              width="32"
              height="32"
              background="https://s3-us-west-2.amazonaws.com/ursacorp-cloudfront-assets/email/images/node.jpg">
              <img width=32 height=32 src="https://s3-us-west-2.amazonaws.com/ursacorp-cloudfront-assets/email/images/octicon-check.png">
            </td>
          </tr>
        </table>
      </td>
      <td> 
        <div class="timeline-email-event-data">
          <p class="timeline-email-event-text">
            {{task.task}}
            <!--<span class="timeline-email-date">{{task.timestamp}}</span>-->
          </p>
        </div>
      </td>
    </tr>
  </table>
  {% endfor %}

  <br>

  {% endif %}

  {% endfor %}
</body>
