<div class="container inner">
  <div class="row pbl mbl">
    <div class="col-md-3">
    </div>
    <div class="col-xs-12 col-md-6">
      <img class="logo" alt="UrsaCorp" src="/images/ursacorp/logo.png">
      <h4 class="about">About</h4>
      <p>Darg is an UrsaCorp project which began in late 2014. Our dream for Darg, as with all projects, is to make something beautiful that our users truly love.</p>

      <p>Our technology stack is what we jokingly refer to as the "Angre" stack - Angular.js on the frontend, and Clojure on the backend.</p>
    </div>
  </div>
</div>
