<div class="container">
  <div class="row ptl mtl pbl mbl">
  </div>
  <div class="row ptl mtl pbl mbl">
    <div class="col-xs-6 about-left">
      <img class="img-circle about-profile" alt="savelago" src="/images/about/savelago.png">
      <h4 class="about">John Lago</h4>
      <h6 class="about">Co-founder</h6>
      <p class="about">Truffaut culpa fanny pack normcore, Carles direct trade kale chips excepteur elit anim mumblecore nisi Pitchfork. American Apparel forage pariatur DIY Etsy, ennui Neutra four loko drinking vinegar. Tote bag raw denim elit cupidatat photo booth occaecat. Freegan assumenda farm-to-table, Kickstarter voluptate occupy banjo fanny pack DIY swag mustache. Sapiente Banksy fap, sustainable Helvetica ex ennui. Tousled enim velit Vice nulla actually. Butcher cray ennui try-hard meh pop-up.</p>
    </div>
    <div class="col-xs-6 about-right">
      <img class="img-circle about-profile" alt="venantius" src="/images/about/venantius.png">
      <h4 class="about">David Jarvis</h4>
      <h6 class="about">Co-founder</h6>
      <p class="about">Echo Park 8-bit fanny pack squid semiotics. 8-bit pug DIY biodiesel, before they sold out mustache trust fund authentic. Hella next level VHS heirloom literally art party. Keytar sriracha tote bag, retro sustainable craft beer irony Banksy authentic Wes Anderson yr. Fingerstache sriracha Schlitz, selfies literally disrupt lo-fi street art organic chia next level four loko keffiyeh. Marfa freegan Portland locavore, jean shorts selvage master cleanse polaroid seitan bespoke artisan mixtape fashion axe Helvetica. Salvia PBR&B tousled master cleanse, VHS hashtag locavore post-ironic vegan biodiesel.</p>
    </div>
  </div>
</div>
