<div class="container">
  <div class="row ptl mtl pbl mbl">
  </div>
  <div class="row ptl mtl pbl mbl">
    <div class="col-xs-6 about-left">
      <img class="img-circle about-profile" alt="savelago" src="/images/about/savelago.png">
      <h4 class="about">John Lago</h4>
      <h6 class="about">Co-founder</h6>
      <p class="about">John likes Doctor Who. Works at eBay. Reads books.</p>
    </div>
    <div class="col-xs-6 about-right">
      <img class="img-circle about-profile" alt="venantius" src="/images/about/venantius.png">
      <h4 class="about">David Jarvis</h4>
      <h6 class="about">Co-founder</h6>
      <p class="about">David is a pool shark. Works at Standard Treasury. Founded UrsaCorp. Eats food.</p>
    </div>
  </div>
</div>
