<div class="container inner">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-xs-12 col-md-6">
      <h4>Frequently Asked Questions</h4>
      <p class="question">Q: When are you going to support [BaseCamp, Asana, GitHub, etc.?]</p>
      <p class="answer">A: Great question! We maintain a public development roadmap <a href="/roadmap">here</a>, but if you don't see a feature included there that you'd like us to work on, feel free to shoot us an email (<a href="mailto:support@darg.io">support@darg.io</a>) or reach out via twitter <a href="https://twitter.com/darg_io">@darg_io</a></p>

      <p class="question">Q: Why doesn't the roadmap page load?</p>
      <p class="answer">A: It's on the roadmap.</p>

      <p class="question">Q: Are you hiring?</p>
      <p class="answer">A: Maybe. If you're interested, shoot me an e-mail at <a href="mailto:david@darg.io">david@darg.io</a>.

      <p class="question">Q: How do you feel about the 2013 film <a href="http://en.wikipedia.org/wiki/Pacific_Rim_(film)">Pacific Rim?</a></p>
      <p class="answer">A: Don't ask.</p>

    </div>
  </div>
</div>
