<div class="container">
  <div class="row ptl mtl pbl mbl">
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Frequently Asked Questions</h3>
      <p class="question">Q: When are you going to support [BaseCamp, Asana, GitHub, etc.?]</p>
      <p class="answer">A: Great question! We maintain a public development roadmap <a href="/roadmap">here</a>, but if you don't see a feature included there that you'd like us to work on, feel free to shoot us an email (support@darg.io) or reach out via twitter <a href="https://twitter.com/venantius">@venantius</a></p>

      <p class="question">Q: How do you guys feel about the 2013 film <a href="http://en.wikipedia.org/wiki/Pacific_Rim_(film)">Pacific Rim?</a></p>
      <p class="answer">A: Don't ask. John turns into a Kaiju.</p>

    </div>
  </div>
</div>
