<footer>
  <div class="bottom-menu">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <h3 class="bottom-menu-brand">Darg.io</h3>
        </div>
        <div class="col-md-8 col-sm-2">
          <ul class="bottom-menu-list">
            <li>
              <a href="/tour">Tour</a>
            </li>
            <li>
              <a href="/pricing">Pricing</a>
            </li>
            <li>
              <a href="/integrations">Integrations</a>
            </li>
            <li>
              <a href="/roadmap">Roadmap</a>
            </li>
            <li>
              <a href="/faq">FAQ</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

