<div class="container inner">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-xs-12 col-md-4">
      <!-- Email confirmation alerts -->
      <h4>Set new password</h4>
      <div class="alert alert-success" ng-repeat="alert in Settings.emailConfirmationAlerts">
        {{alert.msg}}
        <button type="button" class="close fui-cross" data-dismiss="alert">
        </button>
      </div>

      <form >
        <div class="form-group">
          Password
          <input type="password" class="form-control" ng-model="PasswordReset.passwordResetForm.password"/>
        </div>
        <div class="form-group">
          Confirm password
          <input type="password" class="form-control" ng-model="PasswordReset.passwordResetForm.confirm_password"/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" ng-click="auth.setNewPassword(PasswordReset.passwordResetForm)">
            Set password and log in
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

