<div class="outer-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 call-to-action">
        <h2>
          Say goodbye to status meetings
        </h2>
        <p>
          Get automatic reports from the tools you already use
        </p>
        <br>
        <button class="btn btn-primary btn-lg" ng-click="goToSignupPage()">
          Start your free 30 day trial
        </button>
      </div>
    </div>
  </div>
</div>

<!-- value prop -->

<div class="shaded">
<div class="container">
  <div class="row outer-section">
    <div class="col-md-3">
    </div>
    <div class="col-xs-12 col-md-6">
      <h3>Stay Up To Date The Easy Way</h3>
      <p class="lead">
        We help you <b>know what your team is up to</b> without wasting their time. Whether it's through <b>email</b> or <b>automatic feeds</b>, we make it easy for everybody to be on the same page.
      </p>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
</div>


<div class="container">
  <!-- How It Works -->
  <div class="row outer-section">
    <div class="col-xs-12 col-md-6 prl">
      <h3>
        How It Works
      </h3>

      <p class="lead">
        Every day, we send you a short e-mail asking what you've done.

        All you have to do is reply. 
      </p>

      <div class="col-xs-12 hidden-md hidden-lg">
        <div class="pbl">
          <img class="diagram" src="/images/outer/batch_email.png">
        </div>
      </div>

      <p>
        We take your replies and use them to fill out a log of your activity that day. You can also enter your tasks and achievements via our web UI.
        
        At the end of the day, we send out a summary email with everybody's activity for the day. 
      </p>
      <p>
        <b>At a glance, see what your friends and teammates have been up to!</b>
      </p>

    </div>
    <div class="hidden-xs hidden-sm col-md-6 pll">
      <div class="diagram">
        <img class="diagram" src="/images/outer/batch_email.png">
      </div>
    </div>
  </div>
</div>

<!-- Hate Writing Things Down? -->
<div class="shaded">
  <div class="container">
    <div class="row outer-section">
      <div class="col-md-6 hidden-xs hidden-sm prl">
        <div class="col-xs-6">
          <center>
            <i class="fa fa-github fa-5 outer-mark"></i>
          </center>
        </div>
        <div class="col-xs-6">
          <center>
            <i class="fa fa-trello fa-5 outer-mark"></i>
          </center>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <h3>
          Hate Writing Things Down?
        </h3>
        <p class="lead">
          We've got you covered.
        </p>

        <div class="col-xs-12 hidden-md hidden-lg prl mrl">
          <div class="col-xs-6 prl">
            <center>
              <i class="fa fa-github fa-5 outer-mark"></i>
            </center>
          </div>
          <div class="col-xs-6 prl">
            <center>
              <i class="fa fa-trello fa-5 outer-mark"></i>
            </center>
          </div>
        </div>
        <p>
          Your tools already track your activity - why write down what they already know? We're working on easily configurable integrations with GitHub and Trello that tie into your existing workflow.
        </p>
        <p>
          <b>Keep everyone informed - without the extra work.</b>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Call to action -->
<div class="container">
  <div class="row outer-section">
    <div class="col-md-3">
    </div>
    <div class="col-xs-12 col-md-6">
      <img class="logo" alt="UrsaCorp" src="/images/ursacorp/darg.png">
      <center>
        <h3>End The Meeting Tyranny!</h3>

        <p class="lead">
          Sign up and say goodbye to status meetings
        </p>

        <br>

        <button class="btn btn-primary btn-lg" ng-click="goToSignupPage()">
          Start your free trial today
        </button>
        <br><br>
        <p>
          Wait, what's the deal with <a href="/pricing">pricing</a>?
        </p>
      </center>

      <br>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
