<div class="outer-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 call-to-action">
        <h3>
          Say goodbye to status meetings.
        </h3>
        <p>
          Get automatic reports from the tools you already use.
        </p>
        <button class="btn btn-primary btn-lg" ng-click="goToSignupPage()">
          Start your free 30 day trial
        </button>
      </div>
    </div>
  </div>
</div>



<div class="container mtl mbl"> 
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-xs-12 col-md-6">
      <h4>
        How It Works
      </h4>

      <p>
        Every day, we send you a short e-mail asking what you did that day - all you have to do is reply. At the end of the day, your team's responses are batched up and emailed out to the entire team.
      </p>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
<center>
  <div class="diagram pbl">
    <img class="diagram" src="/images/outer/batch_email.png">
  </div>
</center>


<div class="container mtl mbl"> 
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-xs-12 col-md-6">
      <p>
        You can also enter tasks as you complete them via our web UI.
      </p>
      <p>
        Don't want to reply to an e-mail? No problem! We're working on easily configurable integrations with GitHub and Trello that tie into your existing workflow.
      </p>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
