<div class="container">
  <div class="row ptl mtl pbl mbl">
  </div>
  <div class="row ptl mtl pbl">
    <div class="col-xs-5">

    <img class="img-circle pawnstars" src="../images/password_reset/pawnstars.jpg">
      <h4>Forgot your password?</h4>
    </div>
    <div class="col-xs-1">
    </div>
    <div class="col-xs-5 ptl mts">

      <form class="login-form" ng-controller="DargLoginCtrl">
        <div class="form-group">
          <input type="text" class="form-control login-field" placeholder="Your e-mail" ng-model="ResetForm.email">
        </div>
        <button class="btn btn-primary btn-lg btn-block" ng-click="resetPassword()">
          Reset my password!
        </button>
      </form>

    </div>
  </div>
  <div class="row">

    <div class="col-xs-12">
      <p>Aw, little buddy! You forgot your password? That's too bad. I tell you what - you give us your e-mail address, and we'll send you an e-mail that'll let you reset your password. Best we can do.</p>
      <p><b>Be sure to keep an eye on your spam folder</b> - for some reason these emails tend to get marked as spam.</p>
      <p><small>Please don't sue us, Pawn Stars.</small></p>
    </div>
  </div>
</div>
