<div class="container inner">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-xs-12 col-md-6">

      <h4>Pricing</h4>

      <p class="lead">Darg is completely free for teams of 3 or fewer. After that, it's $5 per user per month.</p>

      <p>We believe that simple pricing plans are best, and that's what we've done with Darg. No hidden clauses or catches - just a free tier for small teams, and a flat rate for everyone after that.</p>

      <br>

      <h6>Enterprise</h6>

      <p>If you're interested in deploying Darg into your company's data center, please shoot us an e-mail at <a href="mailto:sales@darg.io">sales@darg.io</a> and we'll work with you to figure out a solution.</p>

    </div>
  </div>
</div>

