<div class="container">
  <div class="row ptl mtl pbl mbl">
    <div class="col-xs-3 ptl mtl">
      <div class="btn-group-vertical">
        <div class="btn btn-inverse btn-group">
          <!-- Buttons reference is in /docs/examples/buttons.html for Flat-UI -->
          HEADER HERE #TODO SHOULD BE GREEN<br>
          The rest of this should be dark blue
        </div>
        <button class="btn btn-inverse" type="button">Profile</button><!-- #TODO -->
        <button class="btn btn-inverse" type="button">Account</button>
        <button class="btn btn-inverse" type="button">Export</button>
        <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle" type="button" id="btnGroupVerticalDrop2">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul aria-labelledby="btnGroupVerticalDrop2" role="menu" class="dropdown-menu">
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle" type="button" id="btnGroupVerticalDrop3">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-9 ptl">
      settings go here
    </div>
  </div>

</div>
