<div class="container" ng-controller="DargSettingsCtrl">
  <div class="row ptl mtl pbl mbl">
  </div>
  <div class="row ptl mtl pbl mbl">
    <div class="col-xs-2">
      <div class="btn-group-vertical">

        <!-- Buttons reference is in /docs/examples/buttons.html for Flat-UI -->
        <!-- 
        <div class="btn btn-primary btn-group">
          Settings
        </div>
        -->
        <button class="btn btn-inverse" type="button" ng-click="gotoSettingsProfile()">Profile</button>
        <button class="btn btn-inverse" type="button" ng-click="gotoSettingsAccount()">Account</button>
        <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle" type="button" id="btnGroupVerticalDrop2">
            Teams
            <span class="caret"></span>
          </button>
          <ul aria-labelledby="btnGroupVerticalDrop2" role="menu" class="dropdown-menu">
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-9 ptl">
      {{DargSettingsCtrl.isProfile()}}

      <div class="container" ng-show="isSettingsProfile()">
        <div ng-include src='"/templates/settings/profile.html"'></div>
      </div>

      <div class="container" ng-show="isSettingsAccount()">
        <div ng-include src='"/templates/settings/account.html"'></div>
      </div>

    </div>
  </div>

</div>
