<div class="container" ng-controller="DargSettingsCtrl">
  <div class="row ptl mtl pbl mbl">
  </div>
  <div class="row ptl mtl pbl mbl">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-9 ptl">
      {{DargSettingsCtrl.isProfile()}}

      <div class="container" ng-show="isSettingsProfile()">
        <div ng-include src='"/templates/settings/profile.html"'></div>
      </div>

      <div class="container" ng-show="isSettingsAccount()">
        <div ng-include src='"/templates/settings/account.html"'></div>
      </div>

    </div>
  </div>

</div>
