<div class="container inner">
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
      <h4>Create a New Team
      </h4>
      <form class="login-form">
        Team name
        <div class="form-group">
          <input type="text" class="form-control login-field" ng-model="Team.creationForm.name"/>
        </div>
        <button class="btn btn-primary btn-lg btn-block" ng-click="Team.createTeam(Team.creationForm)"> 
          Create New Team 
        </button>
      </form>
    </div>
  </div>
</div>

<br>
