<div class="container" ng-controller="DargTimelineCtrl as Timeline">
  <div class="row ptl pbl mtl mbl">
  </div>
  <div class="row">
    <!-- menu --> 
    <div class="col-xs-3 ptl">
      <div class="btn-group-vertical">
        <!-- TODO: Make current team light up with btn-primary instead --> 
        <!-- https://github.com/ursacorp/darg/issues/179 -->
        <button class="btn btn-inverse" type="button" ng-repeat="team in CurrentUser.team" ng-click="loadNewTeamTimeline(team.id)">
          {{team.name}}
        </button>
      </div>
    </div>

    <div class="col-xs-9">
      <div class="col-xs-3">
      </div>
      
      <!-- profile -->
      <div class="timeline-header">
        <img ng-src="{{gravatars.timeline}}" class="img-circle timeline-profile">
      </div>

      <!-- timeline -->
      <div class="timeline-darg" ng-repeat="darg in Timeline.darg">
        <nav class="navbar navbar-default">
          <ul class="nav navbar-nav navbar-left">
            <li class="timeline-section">
              <span class="fui-calendar timeline-section-icon"></span>
              <span class="timeline-section-date">
                {{formatDateString(darg.date) | date: 'fullDate'}}
              </span>
            </li>
          </ul>
        </nav>

        <ul class="list-group" ng-repeat="user in darg.user" ng-show="showUser(user)">

          {{user.name}}
          <div ng-show="userHasTasks(user)">

            <li class="timeline-type-header list-group-item">
              <span class="fui-list-numbered timeline-type-icon"></span>
              <span class="timeline-type">
                Tasks
              </span>
            </li>

            <li class="timeline-item list-group-item" ng-repeat="task in user.task">
              <span class="timeline-item-edit-icon fui-new"></span>
              <span class="timeline-item">
                {{task.task}}
              </span>
            </li>
          </div>

          <!-- Enter new tasks -->
          <div class="ptl mtl" ng-controller="DargTaskCreationCtrl" ng-show="isCurrentUser(user.id)">
            <form class="task-form" ng-submit="PostTask(darg)">
              <input type="text" placeholder="Left something out? Enter it here!" class="form-control" ng-model="TaskForm.task"/>
            </form>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
