<div class="container">
  <div class="row ptl pbl mtl mbl">
  </div>
  <div class="row">
    <div class="col-xs-3">

      <!-- Side navbar -->
      <ul class="nav nav-list">
        <li class="nav-header">Teams</li>
        <li ng-repeat="team in currentUser.team">
          <a ng-href="/timeline/{{team.id}}">
            {{team.name}}
            <span class="pull-right">
              <i class="fa fa-cog"></i>
            </span>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/team">
            Create new team
          </a>
        </li>
      </ul>


      <div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn" type="button"><span class="fui-calendar"></span></button>
            </span>
            <input type="text" class="form-control timepicker-with-dropdowns" value="14 March, 2013" id="datepicker-02" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-9">
      
      <!-- profile -->
      <!-- 
      <div class="timeline-header">
        <img ng-src="{{gravatars.timeline}}" class="img-circle timeline-profile">
      </div>
      -->

      <!-- timeline -->
      <div class="timeline-darg" ng-repeat="darg in Timeline.darg">
        <nav class="navbar navbar-default">
          <ul class="nav navbar-nav navbar-left">
            <li class="timeline-section">
              <span class="fui-calendar timeline-section-icon"></span>
              <span class="timeline-section-date">
                {{formatDateString(darg.date) | date: 'fullDate'}}
              </span>
            </li>
          </ul>
        </nav>

        <ul ng-repeat="user in darg.user" ng-show="showUser(user)">

          {{user.name}}
          <ul class="timeline timeline-icons timeline-sm" ng-show="userHasTasks(user)">
            <li ng-repeat="task in user.task">
              <p>
                {{task.task}}
                <span class="timeline-icon octicon octicon-check"></span>
                <span class="timeline-date">{{task.date}}</span>
              </p>
            </li>
          </ul>

          <!-- Enter new tasks -->
          <div class="ptl mtl" ng-controller="DargTaskCreationCtrl" ng-show="isCurrentUser(user.id)">
            <form class="task-form" ng-submit="PostTask(darg)">
              <input type="text" placeholder="Left something out? Enter it here!" class="form-control" ng-model="TaskForm.task"/>
            </form>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript-lazy">
    // jQuery UI Datepicker
  var datepickerSelector2 = $('#datepicker-02');
  datepickerSelector2.datepicker({
    showOtherMonths: true,
    selectOtherMonths: true,
    dateFormat: "d MM, yy",
    yearRange: '-1:+1',
    changeMonth: true,
    changeYear: true
  }).prev().on('click', function (e) {
    e && e.preventDefault();
    datepickerSelector2.focus().blur();
  });
  $.extend($.datepicker, {_checkOffset:function(inst,offset,isFixed){return offset}});

  // Now let's align datepicker with the prepend button
  datepickerSelector2.datepicker('widget').css({'margin-left': -datepickerSelector2.prev('.input-group-btn').find('.btn').outerWidth()});
</script>
